body {
  max-width: 100%;
  width: 100%;
  padding: 0 20px;
}

/* ჰედერის სტილები */
header {
  height: 70px;
}

.header-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header-container__image {
  width: 40px;
  height: 40px;
}

.header-container__image:hover {
  width: 42px;
  height: 42px;
}

.header-container__text {
  font-family: "ALK Life";
  font-weight: bold;
  font-size: 22px;
  color: rgb(168, 42, 42);
  margin-left: 15px;
}

.header-wrapper {
  display: flex;
  height: 33px;
  align-items: center;
}

.nav-menu {
  margin-left: 20px;
  display: flex;
}

.text-style {
  margin-left: 20px;
}

.nav-menu a {
  font-family: "DejaVu Sans";
  font-weight: 500;
  font-size: 20px;
  color: rgb(168, 42, 42);

  transition: all 0.3s ease-in-out;
}

.nav-menu a.active {
  color: rgb(168, 42, 42) !important;

  font-weight: bold;
}

.nav-menu a:hover {
  font-size: 19px;
  font-weight: bold;
  font-family: "DejaVu Sans";
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: rgb(168, 42, 42);
}

/* სკოლის სურათი */
.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.school-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* sakontaqto informacia */
.text_contact {
  padding: 20px;
  text-align: left;
  font-weight: 600;
  font-size: 22px;
}
.contact_form {
  padding-top: 15px;
  padding-left: 10px;
  font-size: 18px;
}

/* footer */
.ul_footer {
  display: flex;
  align-items: center;
  
}

.footer_text {
  font-family: "DejaVu Sans";
  font-weight: 600;
  font-size: 18px;
  color: rgb(168, 42, 42);
  margin-bottom: 5px;
}

.footer_text:first-of-type {
  margin-top: 15px;
}

.fa-facebook {
  font-size: 40px;
  color: blue;
  margin-left: 50px;
}

.fa-square-youtube {
  font-size: 40px;
  color: rgb(168, 42, 42);
  margin-left: 50px;
}

/* .avesome {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #8ba8c7;
  align-items: center;
} */
.avesome {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #8ba8c7;
  border-top: 4px solid #6a8aa0; 
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif; 
  color: #ffffff; 
}



/* about */

.article-container {
  padding: 15px;
  background-color: rgb(215, 215, 233);
}

.article-header {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "DejaVu Sans";
  margin: 15px;
}

.article-content {
  font-family: "DejaVu Sans";
  text-align: justify;
}

/* იდეხს ჰტმლ-ის სტილრბი */

.div-container {
  display: flex;
  max-width: 100%;
  background-color: rgb(215, 215, 233);
  padding: 20px;
}

.sidebar {
  width: 250px;
  background: #f4f4f4;
  padding: 20px;
  font-family: "DejaVu Sans";
  
}

.content {
  flex: 1;
  padding: 20px;
}

/* ლინკები */
.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.sidebar nav ul li a:hover {
  font-size: 17px;
  color: #337;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content a {
  color: black;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
}

/* მისია ცსს */

.article-container {
  margin-top: 10px;
}
.article-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.article-content ul li {
  margin-bottom: 10px;
}

.article-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  text-indent: 30px;
}

/* acordion */

.acordion {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.wraper-body {
  background-color: #454242;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.acordion-container {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
}

.fontColor {
  color: rgb(244, 244, 244);
}

.fontSize {
  font-size: 20px;
}

.acordion-title {
  position: relative;
  padding: 30px 0;
  cursor: pointer;
}

.acordion-title::before {
  content: " +";
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 20px;
  font-size: 25px;
  font-family: "ALK Life";
}

.acordion h2 {
  font-size: 27px;
  padding-top: 80px;
}

.last {
  padding-bottom: 80px;
}

.acordion-description {
  width: 100%;
  font-size: 16px;
  height: 0;
  overflow: hidden;
  font-family: "DejaVu Sans";
}

.line {
  width: 100%;
  height: 0.7px;
  background-color: #a8a4a4;
}

.acordion-container.active .acordion-description {
  height: 200px;
  padding: 10px;
}

.acordion-container.active .acordion-title::before {
  content: " -";
  font-size: 25px;
}

.back {
  margin: 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: "ALK Life";
}

/* fetch */
.container {
  max-width: 100%;
  width: 100%;
  background-color: rgb(215, 215, 233);
  display: flex;
  justify-content: center;
}

#ul_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}

.administracia {
  padding: 20px;
  background-color: rgb(215, 215, 233);
  text-align: center;
  font-family: "DejaVu Sans";
  font-weight: 600;
  font-size: 22px;
}

#loadprev,
#loadnext {
  font-family: "DejaVu Sans";
  font-size: 20px;
  font-weight: 600;
  color: rgb(16, 15, 15);
  margin: 19px;
  border: none;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

/* slider */

#slider {
  width: 70%;
  max-width: 900px;
  height: 500px;
  position: relative;
  /* overflow: hidden; */
  background-color: #f3f3f3;
  margin: 0 auto;
}

#arrow-left,
#arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(168, 42, 42, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
 
}

#arrow-left {
  left: 220px;
}

#arrow-right {
  right: 220px;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(6, 6, 6);
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.dot.active {
  opacity: 1;
}

.slider-title {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.slider-container {
  position: relative;
}

/* registration */

.registration_label{
  height: 40px;
  font-weight: 700;
  font-family: "DejaVu Sans";
  letter-spacing: 1px;
}
.errorText {
  color: red;
}

#emailText {
  display: block;
  color: red;
  font-size: 20px;
}

.registration_wrapper {
  padding: 20px;
  background-color: rgb(215, 215, 233);
}

#username,
#password,
#password2 {
  margin: 0 0 15px;
  border-radius: 10px;
  border: none;
  height: 25px;
}
#chekAgree {
  margin: 15px 0 15px;
}

#map {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(215, 215, 233);
  padding: 10px;
}

#contact {
  background-color: rgb(215, 215, 233);
}

/* ახალი ამბები */

.school-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  gap: 20px;
}

.school-container__box {
  flex: 1;
  min-width: 250px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.school-container__box.hidden {
  display: none;
}

.school-container__text {
  text-align: justify;
  font-family: "DejaVu Sans";
  font-weight: 500;
}

.school-container__text1 {
  font-family: "DejaVu Sans";
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  letter-spacing: 2px;
  /* line-height: 20px; */
  margin-bottom: 10px;
}

.school-container_news {
  font-family: "DejaVu Sans";
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

#load-news {
  cursor: pointer;
  background-color: #8ba8c7;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 20px;
}

#load-news:hover {
  background-color: #0056b3;
}

.school-container.vertical {
  flex-direction: column;
}

#submit{
  padding: 7px;
  border-radius: 3px;
  border: none;
  font-weight: 700;
  font-size: 14px;
}

.icon{
  display: flex;
  align-items: center;
  height: 40px;
  width: 50px;
}


.video{
  padding: 15px;
  background-color: rgb(215, 215, 233);
  float: right;
  margin-left: 15px;
  
}
.clearfix{
  background-color: rgb(215, 215, 233);
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
  
}
.video-text{
  font-family: "DejaVu Sans"; 
  padding-left: 20px;
  text-align: justify;
  font-size: 15px;
}